/*---------FONTS----------*/
@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-black.woff") format("woff"),
  url("~@/assets/fonts/gilroy-black.woff2") format("woff2"),
  url("~@/assets/fonts/gilroy-black.ttf") format("truetype"),
  url("~@/assets/fonts/gilroy-black.eot?") format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-heavy.woff") format("woff"),
  url("~@/assets/fonts/gilroy-heavy.woff2") format("woff2"),
  url("~@/assets/fonts/gilroy-heavy.ttf") format("truetype"),
  url("~@/assets/fonts/gilroy-heavy.eot?") format("eot");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-bold.woff") format("woff"),
  url("~@/assets/fonts/gilroy-bold.woff2") format("woff2"),
  url("~@/assets/fonts/gilroy-bold.ttf") format("truetype"),
  url("~@/assets/fonts/gilroy-bold.eot?") format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-semibold.woff") format("woff"),
  url("~@/assets/fonts/gilroy-semibold.woff2") format("woff2"),
  url("~@/assets/fonts/gilroy-semibold.ttf") format("truetype"),
  url("~@/assets/fonts/gilroy-semibold.eot?") format("eot");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-medium.woff") format("woff"),
  url("~@/assets/fonts/gilroy-medium.woff2") format("woff2"),
  url("~@/assets/fonts/gilroy-medium.ttf") format("truetype"),
  url("~@/assets/fonts/gilroy-medium.eot?") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-regular.woff") format("woff"),
  url("~@/assets/fonts/gilroy-regular.woff2") format("woff2"),
  url("~@/assets/fonts/gilroy-regular.ttf") format("truetype"),
  url("~@/assets/fonts/gilroy-regular.eot?") format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("~@/assets/fonts/gilroy-thin.woff") format("woff"),
  url("~@/assets/fonts/gilroy-thin.woff2") format("woff2"),
  url("~@/assets/fonts/gilroy-thin.ttf") format("truetype"),
  url("~@/assets/fonts/gilroy-thin.eot?") format("eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*---------END FONTS----------*/

/*---------VARIABLES----------*/

$font: "Gilroy", sans-serif;
$accent-color: #f30;
$base-color: #141414;
$tablet: 768px;
$desktop: 1200px;

/*---------END VARIABLES----------*/

/*---------SCROLL-BAR----------*/

.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
  background-color: #cccccc!important;
  width: 4px!important;
  opacity: 1!important;

  @media screen and (min-width: $tablet) {
    width: 8px!important;
  }
}
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y, .ps__thumb-y {
  background-color: $accent-color!important;
  width: 4px!important;
  right: 0!important;
  border-radius: 0!important;

  @media screen and (min-width: $tablet) {
    width: 8px!important;
  }
}
.ps {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*---------END SCROLL-BAR----------*/

/*---------BASE----------*/

#app {
  font-family: $font;
  font-weight: 400;
  color: $base-color;
  overflow-x: hidden;

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font;
  }

  p {
    font-weight: 400;
  }

  a {
    font-weight: 500;
    text-decoration: none;
  }

  .link {
    color: $accent-color;
  }

  .container-fluid {
    max-width: 1920px;
  }

  input,
  textarea,
  button,
  a {
    outline: none!important;
  }

  .title {
    font-size: 44px;
    line-height: 1;
    letter-spacing: -2px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 900;
    word-break: break-word;

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 60px;
      background-color: $accent-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: $tablet) {
      font-size: 72px;
      letter-spacing: -4px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 94px;
    }

    &--section {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
      letter-spacing: 2px;

      @media screen and (min-width: $tablet) {
        font-size: 48px;
      }
    }

    &--left {
      text-align: left;

      &::before {
        left: 0;
        transform: none;
      }
    }

    &--mini {
      font-size: 22px;

      @media screen and (min-width: $tablet) {
        font-size: 32px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 48px;
      }
    }
  }

  .subtitle {
    color: $accent-color;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 6px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &--left {
      text-align: left;
    }

    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }

  .btn {
    color: $accent-color;
    background-color: transparent;
    box-shadow: none;
    border: 4px solid $accent-color;
    border-radius: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $accent-color;
      color: #fff;
    }
  }

  .section {
    padding: 40px 0;

    @media screen and (min-width: $tablet) {
      padding: 60px 0;
    }

    @media screen  and (min-width: $desktop){
      padding: 80px 0;
    }

    &--gray {
      background-image: linear-gradient(rgba(255, 255, 255, 0) 0px, rgb(237, 237, 237) 100%);
    }
  }

  .text {
    font-size: 16px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
    }

    @media screen  and (min-width: $desktop){
      font-size: 32px;
    }

    &--center {
      text-align: center;
    }

    &--mini {
      @media screen and (min-width: $tablet) {
        font-size: 18px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 20px;
      }
    }
  }
  .columns-2 {
    @media screen and (min-width: $tablet) {
      column-count: 2;
      column-gap: 40px;
    }
  }
}

/*---------BASE END----------*/